@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2E85E, #FFA701);
}

p {
    text-align: justify;
}

main {
   background-color: white; 
   border-radius: 10px;
   box-shadow: 5px 5px 15px #4f3400;
   width: 600px;
   padding: 10px;
   margin: auto;
}

h1 {
    color: #FC7412;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(129,77,5);
}

h2 {
    color: #1AF2E6; 
}